.cls-1 {
  fill: #262626;
  fill-rule: evenodd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
}

.inner {
  width: 1170px;
  margin: 0 auto;
}

header .inner {
  position: relative;
}

main {
  background: #f9f8fb url("media/s1-bg.jpg") no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.s1 h1 {
  font-size: 60px;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}

.s1 p {
  font-size: 17px;
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.s1 a {
  display: block;
  text-align: center;
  line-height: 55px;
  width: 200px;
  height: 55px;
  background: #ff6033;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.s1 .inner {
  height: 100vh;
  min-height: 700px;
}

.s1-content {
  width: 370px;
  margin-top: 200px;
}

nav {
  margin-left: 480px;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 30px;
  line-height: 32px;
}

nav a:hover {
  display: inline-block;
  box-shadow: 0px -5px 0px -2px #ff5f33;
}

.scroll img {
  position: absolute;
  margin-top: 900px;
  margin-left: 573px;
}

.s2 {
  background: #00baba;
  color: #ffffff;
  height: 700px;
  padding-top: 15px;
}

.grid1,
.grid2 {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.s2 .grid2 {
  padding-left: 100px;
  box-sizing: border-box;
}

.s2 h2 {
  font-size: 90px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  display: inline-block;
  margin-top: 40%;
}

.s2 p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 17px;
  display: inline-block;
  word-wrap: break-word;
}

.s2 .grid1 img {
  width: 100%;
  margin-top: 10%;
}

.s3 {
  height: 790px;
  background: #70bfff;
  padding-left: 100px;
}

.s3-content {
  position: relative;
}

.s3 h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 90px;
  color: white;
  position: absolute;
  top: 312px;
  left: 566px;
}

.s3 form {
  margin-top: 179px;
}

.s3 input[type=button] {
  display: none;
}

.s3 label {
  width: 400px;
  height: 100px;
  background: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.s3 .knp {
  width: 300px;
  height: 100%;
  text-align: center;
  line-height: 100px;
}

.knp span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #262626;
  word-wrap: break-word;
}

.s3 .grid2 {
  margin-top: 100px;
}

.s4 {
  height: 1536px;
  background: #ffe92f;
  padding-top: 90px;
}

.s4 h2 {
  font-size: 90px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 35px;
}

.s4 p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: black;
  margin-bottom: 15px;
}

.s4 .s4_text {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.column div {
  margin-top: 30px;
}

#s4img1 {
  width: 770px;
  height: 550px;
  float: left;
  overflow: hidden;
}

#s4img2,
#s4img3 {
  width: 370px;
  height: 260px;
  float: right;
  overflow: hidden;
}

#s4img4 {
  width: 570px;
  height: 400px;
  overflow: hidden;
  float: left;
}

#s4img5 {
  width: 570px;
  height: 400px;
  overflow: hidden;
  float: right;
}

.column:before,
.column:after {
  content: "";
  display: block;
  clear: both;
}

.s4 a {
  display: block;
  text-align: center;
  line-height: 55px;
  width: 200px;
  height: 55px;
  background: #5585a2;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-top: 50px;
  margin-left: calc(50% - 100px);
}

.s5 {
  background: #ffffff;
  height: 500px;
  padding-top: 140px;
  position: relative;
}

.s5 h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
  margin-bottom: 30px;
}

.s5 p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: black;
  margin-bottom: 30px;
}

.s5 .s5_text {
  width: 570px;
  text-align: left;
}

.s5 form {
  width: 770px;
  height: 55px;
}

.s5 form input {
  width: 570px;
  height: 55px;
  border: 1px solid black;
  display: inline-block;
  outline: none;
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 17px;
  padding-left: 15px;
}

.s5 form a {
  display: inline-block;
  text-align: center;
  line-height: 55px;
  width: 170px;
  height: 55px;
  background: #96b92c;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #ffffff;
  margin-left: 30px;
}

.s5 img {
  position: absolute;
  top: 83px;
  left: 977px;
}

/*# sourceMappingURL=style.css.map */
